spring:
  main:
    web-application-type: none
    log-startup-info: false
  application:
    name: GMC Daemon
    version: @project.version@
  output:
    ansi:
      enabled: always
  banner:
    location: banner.text
  shell:
    history:
      enabled: false
    command:
      help:
        groupingMode: FLAT
      stacktrace:
        enabled: false
      history:
        enabled: false
      quit:
        enabled: false
      script:
        enabled: false
      version:
        enabled: false
      clear:
        enabled: false
logging:
  file:
    name: ${logging.file.path}gmc.log
    path: ./log/
  level:
    org.reflections: error
    org.springframework.data.repository.config: error
